@import '../../scss/variables/variables';
.header {
  text-align: center;
  color: $white;
  height: 45px;
  line-height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  &__inner {
    background-color: $blue;
    display: block;
  }
}